.collegelogo{
   margin-left: 10%;
}

li{
    list-style: none;
    margin-top: 12px;
}

.flex{
    display: flex;
}

header{
    width: 100%;
    height: 50px;
    background-color: black;
}
.left-header{
    width: 40%;
    height: 100%;
    color: white;
    margin-top: 10px;
    padding-left: 200px;
    padding-right: 10px;
}
.right-header{
    width: 60%;
    height: 100%;
    background-color: black;
}
.btn-right {
    display: inline-block;
    margin-top: 19px;
    float :left;
    padding: 8px 14px;
    font-size: 12px;
    position: relative;
    z-index: 999;
}

.admission{
    display: inline-block;
    margin-top: 19px;
    float :left;
    padding: 8px 14px;
    font-size: 12px;
    position: relative;
    z-index: 999;
    color: #fff;
    border: 2px solid #013571;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    animation: bounce 1.5s alternate infinite;
    border-radius: 2px;
    background-color: #013571;
}

.admi-open{
    padding: 8px 14px;
    color: #fff;
    font-size: 12px;
    position: relative;
    z-index: 999;
    border: 2px solid #013571;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    animation: bounce 1.5s alternate infinite;
    border-radius: 2px;
} 
.college-header{
    color: white;
    background-color: #013571;
    justify-content: space-between;
    font-size: 20px;
    height: 50px;
    margin-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
}
.facebook{
    width: 60px;
    height: 50px;
    padding-left: 10px;
}
.youtube{
    width: 60px;
    height: 50px;
    padding-left: 10px;
}
.login{
    width: 50px;
    height: 40px;
    padding-left: 20px;
}
.LOGIN{
    color: white;
    background-color: black;
}
.home{
    width: 30px;
    height: 30px;
}
.container{
    width: auto;
    height: auto;
    text-align: center;
}
.NBA{
    text-align: center;
    color: #503837;
    }
.container-college{
    height: 500px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}
.principal{
    width: 35%;
}
.pricipal-photo{
    margin-top: 7%;
    margin-left: 7%;
}
.desk{
    font-size: 28px;
    margin-left: 7%;
}
.princi-para{
    font-size: 20px;
    margin-left: 7%;
}
.Vision-mission{
    width: 65%;
}
.vision{
    font-size: 28px;
}
.vision-moto{
    font-size: 20px;
}
.Mission{
    font-size: 28px;
}
.Mission-moto{
    font-size: 20px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;}
.roll-input{
    height: 50px;
    width: 100%;
}
.roll{
    height: 50px;
    width: 50%;
    margin-top: 10px;
}
.input{
    width: 50%;
    height: 50px;
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 200px;
}
input{
    width: 100%;
    height: 100%;
    padding-left: 10px;
}
.princi{
    color:rgb(63, 63, 195);
    font-size: larger;
    margin-left: 7%;
    border-color: none;
}
.vi-mi{
    color:rgb(63, 63, 195);
    font-size: larger;
    margin-left: 7%;
    border-color: none;
}

.style {
    animation-duration: 0.2s;
    animation-delay: 0.2s;
    visibility: visible;
}
